{{#header-page}}
  {{#block-slot 'title'}}<em>DriverDash</em> Dashboard{{/block-slot}}
  {{#block-slot 'subtitle'}}Lorem ipsum dolor sit amet, consectetur adipisicing elit.{{/block-slot}}
{{/header-page}}

<p>{{link-to 'Invites' 'secure.invites'}}</p>
