.component-header-app {
  @include grid-row;

  .top-bar {
    padding-top:    rem-calc(15);
    padding-bottom: rem-calc(15);
    background-color: transparent;
  }

  .top-bar-title,
  .content-account {
    font-size: rem-calc(17);
  }

  .top-bar-title {
    margin-right: rem-calc(40);

    img {
      max-height: rem-calc(75);
    }
  }

  .content-account {
    display: flex;
    align-items: center;
    width: 100%;

    .account-name,
    .account-number {
      display: block;
    }
    .account-name {
      text-transform: uppercase;
      @include open-sans(semibold);
    }
  }

  .sep {
    color: #ccc;
  }
}
