.component-header-page {
  margin-bottom: rem-calc(50);

  .content-title,
  .content-partners {
    padding-top:    rem-calc(15);
    padding-bottom: rem-calc(15);
  }

  .content-title {
    color:            $white;
    background-color: $black;

    h2, p {
      margin-bottom: 0;
      line-height: normal;
    }

    h2 {
      @include tablet-gothic(bold);
      font-size: rem-calc(40);
    }
  }

  .content-partners {
    @include tablet-gothic(bold);
    text-transform: uppercase;
    font-size: rem-calc(14);
    color: #9d9d9d;
    background-color: #f4f4f4;

    @include breakpoint(medium up) {
      text-align: right;
    }

    p {
      display: inline-block;
      margin: 0 rem-calc(30) 0 0;
    }

    .partner-logo {
      img {
        display: inline-block;
        max-width: rem-calc(35);
      }

      &:not(:last-of-type) {
        margin-right: rem-calc(10);
      }
    }
  }

}
