.accordion {
  // sass-vars defined in "_settings"; http://foundation.zurb.com/sites/docs/accordion.html#sass-variables

  .accordion-item {
    & {
      position: relative;
      border-bottom: 1px solid $accordion-border-color;
    }

    &[data-disable-collapse="true"] {
      &::before {
        position: absolute;
        z-index: 1;
        top:  0;
        left: 0;
        width:  100%;
        height: 48px;
        content: '';
      }

      .accordion-title::before {
        display: none;
      }
    }

    .accordion-title {
      @include tablet-gothic();
      text-transform: uppercase;
      border-color:     $accordion-item-background;
      background-color: $accordion-item-background;

      &:hover {
        color: $accordion-item-color;
      }

      &::before {
        position: static;
        margin-right: rem-calc(15);
        font-family: 'fontello';
        font-size: rem-calc(16);
        content: '\e800';
      }

      .items-count {
        float: right;
        @include open-sans(regular);
        font-size: rem-calc(13);
      }
    }

    .accordion-content {
      border-bottom: none;

      table {
        margin-bottom: 0;
      }

      .no-content {
        display: flex;
        align-items:     center;
        justify-content: center;
        min-height: rem-calc(150);
      }
    }

    &.is-active {
      .accordion-title::before {
        content: '\e801';
      }
    }

    + .accordion-item {
      margin-top: rem-calc(20);
    }
  }
}
