.accordion {
  // sass-vars defined in "_settings"; http://foundation.zurb.com/sites/docs/accordion.html#sass-variables

  .accordion-item {
    .accordion-title {
      padding-left: 2rem;

      &::before {
        font-family: 'fontello';
        left:  1rem;
        right: auto;
        content: '\e800';
      }
    }

    &.is-active {
      .accordion-title::before {
        content: '\e801';
      }
    }
  }
}
