table {
  // sass-vars defined in "_settings"; http://foundation.zurb.com/sites/docs/table.html#sass-variables

  color: #333;
  border-collapse: collapse;

  thead,
  tfoot {}

  thead {
    th {
      padding-top:    rem-calc(8);
      padding-bottom: rem-calc(7);
      @include tablet-gothic(bold);
      font-size: rem-calc(18);
    }
  }
}
