<div class="top-bar">
  <div class="top-bar-title">WEX</div>

  <div class="content-account">
    <div class="top-bar-left">
      <span class="account-name">State of Maine</span>
      <span class="account-number">#123456789134</span>
    </div>

    <div class="top-bar-right">
      Welcome, John Smith
      <span class="sep">|</span>
      <a {{action 'invalidateSession'}}>Log Out</a>
    </div>
  </div>
</div>
