<div class="top-bar">
  <div class="top-bar-title">WEX</div>
  <div class="content-account">
    <div class="top-bar-left">
      State of Maine<br>#123456789134
    </div>

    <div class="top-bar-right">
      Welcome, John Smith | <a href="#">Log Out</a>
    </div>
  </div>
</div>
