{{#header-page}}
  {{#block-slot 'title'}}<em>DriverDash</em> Access for Active Drivers{{/block-slot}}
  {{#block-slot 'subtitle'}}Drivers must have a unique mobile phone number to be invited to DriverDash.{{/block-slot}}
{{/header-page}}

{{#zf-accordion data-multi-expand="true" data-allow-all-closed="true"}}
  <li class="accordion-item is-active" data-accordion-item>
    <a class="accordion-title">Send Invites</a>
    <div class="accordion-content" data-tab-content>

      <table>
        <thead>
          <tr>
            <th width="200">Table Header</th>
            <th>Table Header</th>
            <th width="150">Table Header</th>
            <th width="150">Table Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
        </tbody>
      </table>

    </div>
  </li>

  <li class="accordion-item is-active" data-accordion-item>
    <a class="accordion-title">Manage Access</a>
    <div class="accordion-content" data-tab-content>

      You currently have no drivers to manage, you can invite drivers from the list above.

    </div>
  </li>
{{/zf-accordion}}
