{{#header-page}}
  {{#block-slot 'title'}}<em>DriverDash</em> Access for Active Drivers{{/block-slot}}
  {{#block-slot 'subtitle'}}Drivers must have a unique mobile phone number to be invited to DriverDash.{{/block-slot}}
{{/header-page}}


<div class="page-invites">

  {{#zf-accordion data-multi-expand="true" data-allow-all-closed="true"}}
    <li class="accordion-item is-active" data-accordion-item>
      <a class="accordion-title">Send Invites</a>
      <div class="accordion-content" data-tab-content>

        <table>
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Driver ID</th>
              <th>Mobile #</th>
              <th>DriverDash Access</th>
              <th width="25">{{input type="checkbox"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bhatia</td>
              <td>Sonu</td>
              <td>012394</td>
              <td><a href="#">Add</a></td>
              <td>-</td>
              <td>{{input type="checkbox"}}</td>
            </tr>
            <tr>
              <td>Bowie</td>
              <td>David</td>
              <td>343023</td>
              <td>207-123-4567</td>
              <td>Content</td>
              <td>{{input type="checkbox"}}</td>
            </tr>
            <tr>
              <td>Dilios</td>
              <td>Chris</td>
              <td>343056</td>
              <td>Content</td>
              <td>Content</td>
              <td>{{input type="checkbox"}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </li>

    <li class="accordion-item is-active" data-accordion-item>
      <a class="accordion-title">Manage Access</a>
      <div class="accordion-content" data-tab-content>
        <div class="no-content">You currently have no drivers to manage, you can invite drivers from the list above.</div>
      </div>
    </li>
  {{/zf-accordion}}

</div>
